.app__header {
  flex: 1;
  background-color: #0e0e0e;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 140%;
  background-image: url("../../assets/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.01;
  z-index: -1;
  @media screen and (max-width: 450px) {
    translate: -15% -15%;
    width: 130%;
    height: 120%;
  }
}

.app__header-info {
  z-index: 1;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}
.app__header-mainText {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 17%;
  padding-left: 4rem;
  padding-right: 2rem;

  .head-text {
    text-align: left;
    font-size: 5rem;
    font-family: var(--font-league);
    color: var(--red-color);

    span {
      color: var(--darkGray-color);
    }

    @media screen and (min-width: 1200px) {
      font-size: 10rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 4rem;
    }
  }
}
.app__header-miniText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  p {
    font-weight: 50;
    text-align: left;

    &:last-child {
      text-align: right;
    }
    @media screen and (min-width: 1200px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 0.3rem;
    }
  }
}
